body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 2% 0;

}

header .row,
footer .row {
  display: flex;
  align-items:baseline;
  
}

header img{
    width: 35px;
    height: 35px;
    
}
#menuBoton{
    position: relative;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    border-width: thin;
}

#menuContenido {
    display: none;
    position: absolute;
    background-color: white;
    border-style: double;
    border-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size:50%;

        
}

#menuContenido ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0pt;
    font-style: normal;
      
}
#menuContenido li{
      margin:0 0 10px 0;
}

#menuBoton:hover {
     border-style:solid;
    border-color: black;
    border-width: thin;
    
}
.show{
    display:block;
  }

header h1 {
  font-weight: 700;
  margin: 0;
font-style:italic;
    color: black;

}

header nav {
  display:inline-flex;
  justify-content: flex-end;
    padding:0 20px;

}

.row{
    position:relative;
}

.bottom-align-text{
    position:absolute;
    bottom: 0;
    right:0;
    vertical-align: bottom;
    align-items: flex-end;
}

header p {
  padding: 0 15px ;
  margin: 0px;
    color:black;
    
    
}





footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}



a, a:visited, a:hover, a:active{
    text-decoration:none;
    color:inherit;
    height: 100%;
    
}











